<router-outlet></router-outlet>
<nz-layout *ngif="loginUserShow">
  <nz-sider nzCollapsible nzWidth="200px" >
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item [routerLink]="['']">
        <span nz-icon nzType="home"></span>
        <span>Home</span>
      </li>
      <li nz-submenu nzTitle="Products" nzIcon="barcode">
        <ul>
          <li
            nz-menu-item
            [routerLink]="'Products/Bazaryaban'"
            routerLinkActive="active"
          >
            Bazaryaban
          </li>
          <li nz-menu-item [routerLink]="['Products/Elambar']">Elam Bar</li>
          <li nz-menu-item [routerLink]="['Products/Nobatdehi']">Nobatdehi</li>
          <li nz-menu-item [routerLink]="['Products/VCFtoEXEL']">
            VCF to EXEL Convertor
          </li>
        </ul>
      </li>
      <li nz-menu-item [routerLink]="['Purchase']">
        <span nz-icon nzType="credit-card"></span>
        <span>Purchase</span>
      </li>
      <li nz-menu-item [routerLink]="['Contacts']">
        <span nz-icon nzType="contacts"></span>
        <span>Contacts</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div nz-col class="avatar">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <nz-avatar
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          ></nz-avatar>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Username</li>
            <li nz-menu-item>User Information</li>
            <li nz-menu-item>Acount Setting</li>
            <li nz-menu-item nzDanger>log out</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content>
    </nz-content>
    <nz-footer> ©2023 Implement By Diakusoft Group</nz-footer>
  </nz-layout>
</nz-layout>